*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    background-color: #272a31;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .containerLogo{
    display: flex;
    align-items: center;
    width: min-content;
    height: 100%;
    margin-left: 5%;
}

header .containerLogo .logo{
    height: 75%;
}

header nav{
    width: 45%;
}

header nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

header nav ul li{
    display: flex;
    gap: .7em;
    align-items: center;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

header nav ul li a.active{
    color: #23c6fd;
}

header nav ul .expand{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
}

header nav ul .expand .event{
    display: flex;
    align-items: center;
    gap: .6rem;
}


header nav ul .expand svg{
    height: 1em;
    margin-left: .2em;
    transition: transform .3s;
}

header nav ul .expand.show > a, header nav ul .expand.show svg{
    color: #23c6fd;
}

header nav ul .expand .submenu{
    min-width: 11em;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2d2f33;
    position: absolute;
    z-index: 100;
    top: 100%;
    margin-top: .5em;
    border-radius: .2em;
    overflow: hidden;
    min-height: 0;
    height: 0;
    transition: min-height .3s;
    box-shadow: 0 .3em .5em rgba(0,0,0,.3);
}

header nav ul .expand.show .submenu {
    min-height: 7em;
}

header nav ul .expand.show svg {
    transform: rotate(180deg);
}

.submenu li {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
}

.submenu li:hover {
    background-color: rgba(255,255,255,0.2);
}

.navigationArrow{
    width: 100%;
    height: 60px;
    background-color: #23c6fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationArrow .arrow{
    height: 100%;
    padding: 0 3rem;
}

.navigationArrow p{
    font-size: 1.7em;
}

.navigationMobile{
    display: none;
}


main{
    width: 100%;
    min-height: 100%;
    background-color: #FAFAFA;
}

main .filters{
    width: 100%;
    display: flex;
    padding: .5rem;
    gap: .5rem 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2.55px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #23c6fd;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #23c6fd;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(22px);
    transform: translateX(16px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

main .containerSearch{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
}

main .containerSearch .search{
    padding: .5rem;
    border-radius: .6em;
    border: 1px solid #515151;
}

main .containerSearch .search:focus-visible{
    outline: none;
    border: 2px solid #515151;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


main .containerCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

main .containerCards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
    max-width: 250px;
    flex: 1 1 250px;
    background-color: #fff;
    border-radius: .5em;

    box-shadow: 0em 0em 0.8em 0.2em rgba(0,0,0,0.15);
-webkit-box-shadow: 0em 0em 0.8em 0.2em rgba(0,0,0,0.15);
-moz-box-shadow: 0em 0em 0.8em 0.2em rgba(0,0,0,0.15);
}

main .containerCards .card img{
    object-fit: cover;
    border-radius: .5em;
    width: 100%;
    height: 10em;
}

main .containerCards .card .data{
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

main .containerCards .card .data .name{
    color: #000;
    font-size: 1.3em;
}

main .containerCards .card .data .description{
    color: #000;
    font-size: 1em;
}

main .containerCards .card .footerCard{
    display: flex;
    padding: .8rem;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
}

main .containerCards .card .footerCard .price{
    color: #000;
}

main .containerCards .card .footerCard .seeMore{
    text-decoration: none;
    font-weight: 600;
    padding: .5rem;
    margin-right: .5rem;
    border-radius: .5em;
    color: #23c6fd;
    border: 0.15em solid #23c6fd;
    background: rgba(255,255,255,1);
}

.containerTable{
    padding-bottom: 5em;
}

.tableStats{
    width: 90%;
    margin: 20px 5% 0 5%;
    color: #000;
    font-family: inherit;
    border-radius: 20px;
}

.tableStats thead tr td{
    text-align: center;
    padding: .4em;
    background-color: #23c6fd;
}

.tableStats tr .headTable{
    padding: .7em;
    background-color: #272a31;
}

.tableStats thead .headTable{
    color: #fff;
}

.tableStats tr td{
    text-align: center;
    background-color: #23c6fd9c;
    padding: 1px 8px 1px;
}


@media screen and (max-width: 48em){
    header nav{
        width: 50%;
    }

    header nav ul .expand a{
        gap: 0;
    }

    header .containerLogo{
        margin-left: 3%;
    }

    header .containerLogo .logo{
        height: 60%;
    }

    header nav ul .expand .submenu{
        min-width: 8em;
    }

    header nav ul .expand .submenu li a{
        font-size: .9em;
    }

    header nav ul .expand.show .submenu {
        min-height: 6em;
    }

    .navigationArrow .arrow{
        height: 80%;
        padding: 0 1.8rem;
    }
}

@media screen and (max-width: 36em){
    header{
        padding: 0 0 0 1rem;
    }

    header .containerLogo{
        margin-left: 0;
    }
    
    header nav{
        width: 65%;
    }

    header nav ul li a{
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 28em){
    main .containerCards{
        padding-bottom: 2.5rem;
        margin-bottom: 100px;
    }
    header{
        padding: 0;
    }
    
    header nav{
        display: none;
    }

    header .containerLogo{
        width: 100%;
        justify-content: center;
    }

    .navigationArrow{
        display: none;
    }


    .navigationMobile{
        position: fixed;
        border-radius: 1em;
        bottom: 1em;
        display: flex;
        justify-content: space-evenly;
        width: 95%;
        margin-left: 2.5%;
        height: 80px;
        padding-top: .5rem;
        background-color: #272a31;
    }

    .navigationMobile .boton{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 20%;
        height: 100%;
    }

    .navigationMobile .boton svg{
        height: 40%;
        color: rgba(255, 255, 255, 0.726);
    }

    .navigationMobile .boton .pastEvents{
        transform: rotate(180deg);
    }

    .navigationMobile .boton a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.712);
        height: 100%;
    }

    .navigationMobile .boton a p{
        font-size: 1em;
        width: 90%;
        height: 50%;
        align-items: center;
        display: flex;
    }

    .navigationMobile .boton .active svg,
    .navigationMobile .boton .active p{
        color: #23c6fd;
    }

}

